<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form action="#" class="md-float-material form-material" method="POST">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center heading">Se connecter a notre application</h3>
                  <img class="text-center" src="assets/logoIIT.png" width="200" height="150">
                </div>
              </div>
              <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">or</div>
                <div class="line-separator"></div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="tryGoogleLogin()">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png">
                    Signup Using Google
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
